#top-container{
    background: #0bc770;
    min-height: 800px;
    padding: 230px 0;
}

#block{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background:  #fff url(../images/block.png) no-repeat 43px;
}